body{
	font-family: 'Press Start 2P', "Lucida Console", Monaco, monospace;
}

#gameBoard {
	width: 99%;
	height: 85vh;
	background-color: black;
	position: fixed;
}

#header {
	width: 100%;
	height: 10vh;
	background-color: white;
	position: relative;
}

#title{
	text-align: center;
	font-size: 3vw;
}

#header h2{
	position: absolute;
	bottom: 0px;
	font-size: 2vh;
}

#header #left {
	left: 30px;
}

#header #right {
	right: 30px;
}

/* Control Panel */

#controlpanel {
	position: absolute; 
	top: 1vh;
	right: 10px;
	z-index: 1;
}

.controls {
	display: inline-block;
	color: black;
	font-size: 1vw;
	line-height: 20px;

}

/* End Control Panel */

#combo {
	position: relative;
	line-height: 85vh;
	width: 100%;
	text-align: center;
	margin: 0px;	
	font-size: 4vw;
	color: transparent;
	background-color: transparent;
}

#begin {
	position: fixed;
	width: 99%;
	height: 85vh;
	line-height: 85vh;
	text-align: center;
	font-size: 4vw;
	color: white;
	background-color: black;
	z-index: 1;
}

#paddle1 {
	position: absolute;
	left: 10px;
	bottom: 40vh;
}

#paddle2 {
	position: absolute;
	right: 10px;
	bottom: 40vh;
}

.paddle {
	width: 20px;
	height: 150px;
	background-color: white;
	transition: height 0.5s;
}

#ball {
	position: absolute;
	left: 50vw;
	top: 40vh;
	transition: width 0.5s, height 0.5s;
	width: 20px;
	height: 20px;
	border-radius: 0px;
}

/* Light Box CSS */

.hidden {
	display: none;
}

.unhidden {
	display: block;
}

#lightbox	{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 2;
}


#positionMessage {
	position: absolute;
	width: 100%;
	height: 85vh;

}

#boundaryMessage {
	position: relative;
	padding-top: 10vh;
	margin-left: 25.5vw;
	margin-top: 20vh;
	width: 50vw;
	height: 40vh;
	text-align: center;
	color: white;
	z-index:3;
}

#x	{
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-size: 3vh;
	z-index: 2;
}
/* End Lightbox CSS */

/* Special effects */

.maybe{
}

.colourAnimationOne {
	animation-name: colorOne;
	animation-duration: 2s
}

.colourAnimationTwo {
	animation-name: colorTwo;
	animation-duration: 2s
}

.pulseAnimationOne {
	animation-name: pulseOne;
	animation-duration: 2s
}

.pulseAnimationTwo {
	animation-name: pulseTwo;
	animation-duration: 2s
}

.normal {
	transition: background-color 2s;
	background-color: white;
}

.ghost {
	animation-name: ghost;
	background-color: white;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.rainbow {
	background-color: red;
	animation-name: rainbow;
	animation-duration: 10s;
	animation-direction: normal;
	animation-iteration-count: infinite;
}

.shake {
	animation: shake 3s;
	animation-iteration-count: infinite;
}

@keyframes ghost {
	from {background-color: white;}
	to{background-color: transparent;}
}

@keyframes pulseOne {
  from {color: white;}
  to {color: transparent;}
}

@keyframes pulseTwo {
  from {color: white;}
  to {color: transparent;}
}

/* I left 'to {} empty' because it seemed the only way to make the animation work snoothly.
Otherwise the screen just turned white for 2 seconds without fading*/

@keyframes colorOne {
  from {background-color: white;}
  to {}
}

@keyframes colorTwo {
  from {background-color: white;}
  to {}
}

@keyframes rainbow {
	12.5% {background-color: red;}
	25% {background-color: orange;}
	37.5% {background-color: yellow;}
	50% {background-color: green;}
	62.5% {background-color: blue;}
	75% {background-color: indigo;}
	87.5% {background-color: violet;}
	100% {background-color: red;}
}

/*https://www.w3schools.com/howto/howto_css_shake_image.asp*/
/*changed slightly from original code*/
@keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, 1px) rotate(0deg); }
}

/* End Special Effects */
